#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

.content {
  margin-top: 80px;
  padding: 2rem;
  text-align: center;
}

.content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.content p {
  font-size: 1.2rem;
  color: #888;
}
